body {
    font-family: "Arial", sans-serif;
}
section {
    text-align: center;
}
.game--container {
	background-color:white;
    display: grid;
    grid-template-columns: repeat(3, auto);
	width:1000px;
	height:1000px;
    margin: 50px auto;
}
.minigame {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 10px 10px;
}
.cell {
    font-family: "Permanent Marker", cursive;
	background-color: transparent;
	color:white;
    width:100px;
    height: 100px;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}
.game--start {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.game--restart {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}